.app {
    background: #FAFAFA;
    color: #000;
    font-family: "Inter", "Arial", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.app__container {
  max-width: 1280px;
  margin: 0 auto 0;
  
}