.project {
    padding: 110px 70px;
}

.project__about-title {
    margin: 0;
    padding-bottom: 24px;
    color: #000;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.88px;
    border-bottom: 1px solid #000;
}

.project__specs {
    margin: 70px 0 110px 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    list-style: none;
}

.project__spec {
    margin: 0;
    max-width: 550px;
}

.project__spec-title {
    margin: 0;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.8px;
}

.project__spec-about {
    margin: 26px 0 0 0;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.project__timebar {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: 36px 31px;
    grid-template-areas:
    "week1 week4 week4 week4 week4"
    "backend frontend frontend frontend frontend";
}

.backend {
    grid-area: backend;
}

.frontend {
    grid-area: frontend;
}

.project_timecell_week1{
    grid-area: week1;
    place-self: stretch;
    background: #3456F3;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.project_timecell_week4{
    grid-area: week4;
    place-self: stretch;
    background: #F2F2F2;
    color: black;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.project__stagename {
    place-self: end center;
    color: #A0A0A0;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 17px;
}

@media screen and (max-width: 768px) {
    .project {
        padding: 90px 50px;
    }

    .project__specs {
        gap: 30px;
        margin-bottom: 93px;
    }

    .project__spec {
        max-width: 319px;
    }

    .project__spec-about {
        margin-top: 22px;
        font-size: 12px;
        line-height: 18px; 
    }

    .project__stagename {
        font-weight: 400;
    }
}

@media screen and (max-width: 440px) {
    .project {
        padding: 71px 18px 70px;
    }

    .project__about-title {
        padding-bottom: 28px;
        font-size: 18px;
        letter-spacing: -0.72px;
    }

    .project__specs {
        flex-direction: column;
        gap: 56px;
        margin: 60px 0 60px 0;
    }

    .project__spec {
        max-width: 284px;
    }

    .project__spec-title {
        font-size: 18px;
        line-height: 22px;
        letter-spacing: -0.72px;
    }

    .project__spec-about {
        margin-top: 16px;
        font-size: 11px;
        line-height: 16px;
    }

    .project__timebar {
        display: grid;
        grid-template-columns: repeat(5, 1fr); 
        grid-template-rows: 36px 24px;
        grid-template-areas:
        "week1 week1 week4 week4 week4"
        "backend backend frontend frontend frontend";
    }

    .project_timecell_week1 {
        font-size: 11px;
    }

    .project_timecell_week4 {
        font-size: 11px;
    }

    .project__stagename {
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}