.input {
    padding: 0;
    border: none;
    background-color: inherit;
}

/* Стили инпутов на страницах логина и регистрации */

.input_type_logreg {
    padding-bottom: 10px;
    text-align: start;
    color: #000;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-bottom: 1px solid #E8E8E8;
}

.input_type_logreg:focus {
    outline: 0;
    border-bottom: 1px solid #3456F3;
}

.input_type_logreg_error {
    color: #EE3465;
}

.input__label_logreg {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    color: #A0A0A0;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Стили инпутов на странице редактирования профиля */

.input_type_profile {
    color: #000;
    font-size: 11px;
    font-style: normal;
    text-align: end;
    font-weight: 400;
    line-height: 14px;
}

.input_type_profile:disabled {
    color: #000;
}

.input_type_profile:focus {
    outline: 0;
}

.input__label_profile {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #000;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    
}

/* Стили для ошибок */

.input__error {
    display: none;
    
}

.input__error_active {
    position: absolute;
    top: 50px;
    display: block;
    color: #EE3465;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
