.button {
    margin: 0;
    padding: 0;
    border-radius: 3px;
    background: #3456F3;
    border: none;
    color: #FFF;
    font-family: Inter;
    font-style: normal;
    cursor: pointer;
    transition: opacity 0.4s ease;
    flex-shrink: 0;

    /* font-size: 12px;
    font-weight: 500;
    line-height: 16px; */
}

.button:hover {
    opacity: 0.8;
}

.button_type_edit {
    width: fit-content;
    color: #000;
    background: none;
    border-radius: 0;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button_type_signout {
    margin-bottom: 70px;
    width: fit-content;
    color: #EE3465;
    background: none;
    border-radius: 0;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.button_type_header-signin{
    width: 76px;
    height: 32px;
    font-size: 12px;
    font-weight: 500;
    line-height: 16px;
}

.button_type_header-user {
    width: 100px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 14px;
    font-weight: 500;
    line-height: 16px;
    background: none;
    border-radius: 50px;
    border: 2px solid rgba(0 , 0, 0, .1);
}

.button_type_burger {
    width: 44px;
    height: 44px;
    padding: 3px 8px;
    background: none;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    z-index: 100;
}

.button__bar_burger {
    width: 100%;
    height: 3px;
    flex-shrink: 0;
    background-color: #000;
}

.button__bar_burger:nth-child(1) {
    rotate: 0deg;
    transition: ease .4s;
}

.button__bar_burger:nth-child(2) {
    scale: 100%;
    transition: ease .4s;
}

.button__bar_burger:nth-child(3) {
    rotate: 0deg;
    transition: ease .4s;
}

.button__bar_burger_clicked:nth-child(1) {
    rotate: 45deg;
    translate: 0 .68em;
    transition: ease .4s;
}

.button__bar_burger_clicked:nth-child(2) {
    scale: 0%;
    transition: ease .1s;
}

.button__bar_burger_clicked:nth-child(3) {
    rotate: -45deg;
    translate: 0 -.68em;
    transition: ease .4s;
}

.button__logo_user {
    margin-right: 7px;
    width: 12px;
    height: 14px;
    flex-shrink: 0;
}

@media screen and (max-width: 320px) {
    .button_type_header-signin{
        width: 54px;
        height: 26px;
        font-size: 10px;
    }

    .button_type_edit{
        font-size: 12px;
    }

    .button_type_signout{
        font-size: 12px;
    }

    .button_type_burger {
        position: fixed;
        top: 7px;
        right: 9px;
        width: 40px;
        height: 43px;
        padding: 5px 9px;
    }

    .button__bar_burger_clicked:nth-child(1) {
        translate: 0 .57em;
    }
    
    .button__bar_burger_clicked:nth-child(3) {
        translate: 0 -.57em;
    }
}