.header {
    margin: 0;
    height: 74px;
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_type_user {
    justify-content: start;
    gap: 45px;
}

.header_theme_gray {
    background: #DDDEE3;
}

.header__link {
    margin: 0;
    padding: 0;
    line-height: 0%;
    text-decoration: none;
}

.header__logo {
    width: 38px;
    height: 38px;
    box-sizing: border-box;
    object-fit: contain;
    object-position: center;
    flex-shrink: 0;
}

@media screen and (max-width: 768px) {
    .header{
        padding: 0 30px;
    }

    .header_type_user {
        justify-content: space-between;
    }
}

@media screen and (max-width: 320px) {
    .header{
        padding: 0 14px;
    }
}